@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap");
$fontFamilySansSerif: "Open Sans", sans-serif;
$fontFamilySerif: "Merriweather", serif;
$fontSizeXl: 40px;
$fontSizeLg: 30px;
$fontSizeMd: 26px;
$fontSizeSm: 18px;
$fontSizeXs: 14px;
